* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.144);
    margin: 8px;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.842);
    text-align: center;
    line-height: 100px;
    color: white;
}

h2 {
    padding: 30px;
}

input,
select,
textarea {
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin: 10px 0 10px 40px;
    padding: 5px;
}

label {
    margin: 0 40px;
}

.default {
    background-color: white;
    margin-top: 10px;
    padding-bottom: 20px;
}

.about {
    text-align: center;
}

.about img {
    width: 300px;
}

.about p {
    margin: 10px;
}

.interests h3,
ol,
ul {
    text-align: left;
    margin-left: 30px;
}

.interests ol {
    margin: 20px 10px 20px 80px;
}

.skills ul {
    margin: 20px 10px 20px 80px;
}

.jobs table {
    border: 1px solid rgba(128, 128, 128, 0.26);
    width: 100%;
    max-width: 600px;
}

.jobs th {
    background-color: rgba(128, 128, 128, 0.26);
}

footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.842);
    text-align: center;
    color: white;
}

footer p {
    padding: 10px 0;
}

nav a {
    color: rgb(182, 182, 182);
}